<ion-view view-title="成长" class="title-right" hide-nav-bar="true">
  <div class="scroll-content content-color score-summary-bg">
    <div class="cycle-box">
      <div class="box-div bg"></div>
      <div id="study_round" class="box-div rount"></div>
      <div class="box-div bg2"></div>
      <div id="study_round2" class="box-div rount2"></div>
      <div class="box-div mask">
        <div class="mask-inner">
          <div class="grow-task-ratio">任务完成度</div>
          <span class="radio-text">{{radioNum}}</span><span>%</span>
          <div class="remainDone">剩余任务<span>3</span>个</div>
        </div>
      </div>
    </div>
    <div class="row study-clock">
      <div class="col col-50"><i class="ion-clock"></i>总用时25分18秒</div>
      <div class="col col-50"><i class="ion-ios-time-outline"></i>学习25分12秒</div>
    </div>
  </div>
</ion-view>
