$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$stable-strong:                   #A9A9A9 !default;
$stable-strongest:                #787878 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
$tab-red:                         #ff0066 !default;

$font-size-base:                  14px !default;
$font-size-middle:                16px !default;
$font-size-large:                 18px !default;
$font-size-small:                 12px !default;
$font-size-supper:                32px !default;
